{% if content_item.use_retirees_wrapper %}

{% assign w = "simple-retirees" %}

{% else %}

{% assign w = "simple" %}

{% endif %}

{% wrap with "#{w}" %}

<script type="text/javascript">

    $.validator.addMethod("validate_email", function (value, element) {
        if (/^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/.test(value)) { return true; }
        else { return false; }
    }, "A valid email address is required");

    $.validator.addMethod('require-one', function (value) {
        return $('.require-one:checked').size() > 0;
    }, 'Check at least one newsletter.');



    $(document).ready(function () {
        if (location.search.length > 0) {
            //var search = location.search.substring(1);
            //window.params = JSON.parse('{"' + decodeURI(search).replace(/"/g, '\\"').replace(/&/g, '","').replace(/=/g,'":"') + '"}');
            _params = ["utm_source", "utm_medium", "utm_campaign", "utm_term", "utm_content"]
            $(_params).each(function () {
                $("#" + this).val($.query.get(this));
            });

            var sources = $.query.get("source").split(",");
            var sourceVal = "";

            if (sources.length > 0) {
                $.each(sources, function (i, source) {
                    sourceVal += "&quot;" + source + "&quot;";
                });

                $("#source").val("[" + sourceVal + "]");
            }
        }


        $('#iu_select-all').change(function () {
            var _buttons = $('input.require-one');
            if ($(this).is(":checked")) {
                _buttons.each(function () {
                    $(this).prop('checked', true)
                });
            }
            else {
                _buttons.each(function () {
                    $(this).prop('checked', false)
                });
            }
        });

        var checkboxes = $('.require-one');
        var checkbox_names = $.map(checkboxes, function (e, i) { return $(e).attr("name") }).join(" ");
        window.actionNetwork = {};

        jQuery('#action-network-form').validate({
            messages: {
                'answer[email]': { email: "Please provide a valid email address", required: "Email is required." },
                'answer[last_name]': { required: "Last name is required" },
                'answer[first_name]': { required: "First name is required" },
                'answer[zip_code]': { required: "Zip code is required" },
                'answer[street]': { required: "Mailing address is required" },
                'answer[city]': { required: "City is required" },
                'iu_form_2018-sticker': { required: "Please choose a sticker design" },
                'iu_form_aca_2017_story': { required: "Please include your story" }
            },
            onkeyup: false,
            onfocusout: function (element) { jQuery(element).valid(); },
            errorElement: "strong",
            errorElement: 'div',
            errorLabelContainer: '.errorTxt',
            groups: { checks: checkbox_names },
            submitHandler: function (form) {
                {% if api_url != blank %}
                window.actionNetwork.data = {
                    person: {
            {% if capture_name %}
                given_name: $("#form-first_name").val(),
                    family_name: $("#form-last_name").val(),
                        {% endif %}
            email_addresses: [{
                address: $("#form-email").val()
            }],
            postal_addresses: [{
                postal_code: $("#form-zip_code").val(),
              {% if capture_address %}
                address_lines: [$("#answerstreet").val()],
            {% endif %}
            }],
        custom_fields: {
              {% if capture_local %}
    "Local #": $("#Local-").val(),
        {% endif %}
    iu_text_to_mc: $("#iu_text_to_mc").val()
            },
          },
    triggers: {
        autoresponse: {
            enabled: true
        }
    }
        };

    customFields = "{{ custom_field_names }}".split(",");
    $.each(customFields, function (i, name) {
        window.actionNetwork.data.person.custom_fields[name] = $("[name='" + name + "']").val();
    });

    window.actionNetwork.headers = {
        "Content-Type": "application/json"
    };

    $.ajax({
        type: "POST",
        url: "{{ api_url }}submissions",
        data: JSON.stringify(window.actionNetwork.data),
        headers: window.actionNetwork.headers,
        done: function (data) { },
        fail: function (data) { }
    });
    {% else %}
    form.submit();
    {% endif %}

    $('.action').hide();
    $('h1.title').hide();
    $('.thanks').show();
		}
	 });

    // If there's a cell phone field, check the opt-in box if it's filled in
    if ($("#Cell-Phone").length === 1) {
        $("body").on("change", "#Cell-Phone", function () {
            if ($(this).val().length > 0) {
                $("#iu_text_to_mc").val("1");
            } else {
                $("#iu_text_to_mc").val("0");
            }
        });
    }

});
</script>


<div class="wrap">

    {% if hub_video_widget_path != blank %}
    {% assign w = widget:"#{ hub_video_widget_path }" %}
    {% fill with w %}
    {% endif %}

    <h1 class="title{% if content_item.white_intro_text %} white-text{% endif %}">
        {% if headline != blank %}{{ headline }}{% else %}{{ title }}{% endif %} </h1>

    <div class="action cf">

        <div class="intro{% if content_item.white_intro_text %} white-text{% endif %}">
            {{ intro }}
        </div>

        <div class="petition">
            {% if petition_headline != blank %}<h2>{{ petition_headline }}</h2>{% endif %}
            {{ petition_intro }}

            <form method="post" action="https://actionnetwork.org/forms/{{ content_item.form_slug }}/answers"
                accept-charset="UTF-8" novalidate="novalidate" id="action-network-form" method="get"
                target="hub-form-iframe" role="form">
                <label class="hide">
                    <input type="hidden" value="✓" name="utf8" />
                    {% if api_url == blank %}
                    <input type="hidden" value="{{ content_item.authenticity_token }}" name="authenticity_token" />
                    {% endif %}
                    <input type="hidden" value="full" name="style" />
                    <input type="checkbox" checked="checked" id="name_optin1"
                        value="{% if content_item.subscription_group_id != blank %}{{ content_item.subscription_group_id }}{% else %}8789{% endif %}"
                        name="subscription[group]" style="display: none" />
                    <input type="hidden"
                        value="{% if content_item.subscription_group_id != blank %}{{ content_item.subscription_group_id }}{% else %}8789{% endif %}"
                        name="subscription[sub_group_id]" />
                    <input type="hidden" value="" name="subscription[source]" id="source" />
                    <input type="hidden" value="0" name="iu_text_to_mc" id="iu_text_to_mc" />

                    {% comment %}
                    <input class="js-tag_list" id="answer_tag_list" name="answer[tag_list]" type="hidden"
                        value="[&quot;CH 20160914 likely_gun_owner&quot;,&quot;form:now-join&quot;,&quot;test&quot;,&quot;test-mike&quot;]">
                    <input id="answer_tag_list" name="answer[tag_list]" type="hidden"
                        value="[&quot;ad:{{ content_item.slug }}&quot;]">
                    <input type="hidden" value="{{ content_item.slug }}" name="subscription[source]"
                        id="subscription_source" />
                    <input type="hidden" name="answer[tag_list]" id="answer_tag_list" value="["
                        {{ content_item.slug }}"]" />
                    <input type="hidden" value="{{ content_item.url }}" name="subscription[http_referer]" />
                    <input type="hidden" name="utm_source" id="utm_source" value="" />
                    <input type="hidden" name="utm_medium" id="utm_medium" value="" />
                    <input type="hidden" name="utm_campaign" id="utm_campaign" value="" />
                    <input type="hidden" name="utm_term" id="utm_term" value="" />
                    <input type="hidden" name="utm_content" id="utm_content" value="" />
                    {% endcomment %}

                </label>
                <ol>
                    {% if capture_name %}
                    <li>
                        <ul class="cf">
                            <li>
                                <label for="form-first_name"><span class="hide">First Name</span></label>
                                <input type="input" name="answer[first_name]" id="form-first_name"
                                    {% if name_required %}class="required" {% endif %}
                                    placeholder="First Name{% if name_required %}*{% endif %}" />
                            </li>
                            <li>
                                <label for="form-last_name"><span class="hide">Last Name</span></label>
                                <input type="input" name="answer[last_name]" id="form-last_name"
                                    {% if name_required %}class="required" {% endif %}
                                    placeholder="Last Name{% if name_required %}*{% endif %}" />
                            </li>
                        </ul>
                    </li>
                    {% endif %}
                    <li>
                        <ul class="cf">
                            <li>
                                <label for="form-email"><span class="hide">Email</span></label>
                                <input type="input" name="answer[email]" id="form-email"
                                    {% if email_required %}class="validate_email" {% endif %} id="email"
                                    placeholder="Your Personal Email Address{% if email_required %}*{% endif %}" />
                            </li>
                            {% if capture_local %}
                            <li>
                                <label for="Local-"><span class="hide">Local Number</span></label>
                                <input type="input" name="Local #" id="Local-"
                                    placeholder="Local number (leave blank if unknown)" />
                            </li>
                            {% else %}
                            <li>
                                <label for="form-zip_code"><span class="hide">Zip Code</span></label>
                                <input type="input" name="answer[zip_code]"
                                    class="{% if zip_required %}required {% endif %}zip" id="form-zip_code"
                                    placeholder="Zip Code{% if zip_required %}*{% endif %}" />
                            </li>
                            {% endif %}
                        </ul>
                    </li>
                    {% if capture_address %}
                    <li>
                        <ul class="cf">
                            <li>
                                <label for="answerstreet"><span class="hide">Street Address</span></label>
                                <input type="input" name="answer[street]" {% if address_required %}class="required"
                                    {% endif %} id="answerstreet"
                                    placeholder="Street Address{% if address_required %}*{% endif %}" />
                            </li>
                            {% if capture_local %}
                            <li>
                                <label for="form-zip_code"><span class="hide">Zip Code</span></label>
                                <input type="input" name="answer[zip_code]"
                                    class="{% if zip_required %}required {% endif %}zip" id="form-zip_code"
                                    placeholder="Zip Code{% if zip_required %}*{% endif %}" />
                            </li>
                            {% endif %}
                        </ul>
                    </li>
                    {% endif %}
                    {% if content_item.custom_form_fields != blank %}
                    {{ content_item.custom_form_fields }}
                    {% endif %}

                    <div class="errorTxt" style="padding:15px; color:red; font-weight:bolder;"></div>

                    <li class="submit">
                        <button>{% if content_item.petition_button != blank %}{{ petition_button }}{% else %}Submit{% endif %}</button>
                    </li>
                </ol>
            </form>
            {% if content_item.small_type != empty %}<small>{{ content_item.small_type }}</small>{% endif %}
            <iframe style="display:none;" name="hub-form-iframe" src="about:blank"></iframe>
        </div>

    </div>
    <!--action-->

    <div class="thanks">

        <h2>{% if thank_you_title != empty %}{{ thank_you_title }}{% else %}Thank You!{% endif %}</h2>
        {% if body != empty %}{{ thank_you_message }}{% endif %}

        {% if show_upsell != false %}
        <div class="upsell cf">

            <section class="facebook">
                <h3><span class="icons">f</span>Share On Facebook</h3>
                <div class="message">
                    <img src="{% if content_item.facebook_image %}{{ content_item.facebook_image.path }}{% elsif content_item.og.image != blank %}{{ content_item.og.image.url }}{% else %}/now-theme/img/now_share.png{% endif %}"
                        title="{{ content_item.og.title }}" />
                    {% comment %}<h4>{{ content_item.og.title }}</h4>{% endcomment %}
                    {{ content_item.og.description | escape }}
                </div>
                <a href="http://www.facebook.com/sharer.php?u={% if facebook_url != blank %}{{ facebook_url }}{% else %}https://www.afscme.org{{ path }}{% endif %}%3Fsc%3Dfbs"
                    class="button" target="_blank">Share This</a>
            </section>

            <section class="tweet">
                <h3><span class="icons">t</span>Share On Twitter</h3>
                <div class="message">
                    <img src="{% if content_item.twitter_image %}{{ content_item.twitter_image.path }}{% elsif content_item.facebook_image %}{{ content_item.facebook_image.path }}{% elsif content_item.og.image != blank %}{{ content_item.og.image.url }}{% else %}/now-theme/img/now_share.png{% endif %}"
                        title="{{ content_item.og.title }}" />
                    {{ twitter_description }} {% comment %}https://www.afscme.org{{ path }}{% endcomment %}
                </div>
                <a class="button"
                    href="https://twitter.com/share?url={% if twitter_url != blank %}{{ twitter_url | url_escape }}{% else %}https://www.afscme.org{{ path }}{% endif %}%3Fsc%3Dtws&text={{ twitter_description | url_escape }}"
                    target="_blank">Tweet This</a>
            </section>


            <section class="email">
                <h3><span class="icons">e</span>Share by Email</h3>
                <textarea class="message">{{ email_message }}</textarea>
                <a href="mailto:?subject={{ title | url_escape }}&body={{ email_message | url_escape }}"
                    class="button">Send This</a>
            </section>

        </div>
        {% endif %}

    </div>
    <!--thanks-->

    {% endwrap %}